/* VARIABLES */
:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.error-message {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 0.125rem;
  padding: 0.25rem;
  display: block;
}

/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

/* MOBILE STYLES 320px and more */
/* newsletter styles */
.newsletter {
  border-radius: 15px;
}

.newsletter__image {
  width: 100%;
  display: block;
}

.newsletter__content {
  margin: 2.25rem 1.25rem;
}

.newsletter__title {
  font-weight: 700;
  color: var(--dark-slate-grey);
}

.newsletter__subtitle {
  font-size: 0.85rem;
  color: var(--grey);
  margin: 1rem 0;
}

.newsletter__list {
  margin: 1rem 0;
  list-style-type: none;
}

.newsletter__list-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.85rem;
  color: var(--grey);
  line-height: 1.25;
}

.newsletter__form-label {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--dark-slate-grey);
}

.newsletter__form-input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--grey);
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0.4rem 0 1rem;
  cursor: pointer;
}

.newsletter__form-button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border: none;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
}

.newsletter__form-button:active {
  background-color: var(--tomato);
}

/* /success container */
.success-container {
  margin: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  border-radius: 15px;
}
.success-content {
  margin-top: 35%;
}
.success-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-slate-grey);
  margin: 1.5rem 0 1.25rem;
}
.success-subtitle,
.success-email {
  font-size: 0.85rem;
  color: var(--grey);
  line-height: 1.5;
}
.success-email {
  color: var(--dark-slate-grey);
  font-weight: 700;
}
.success-button {
  margin-bottom: 10%;
}
.hide {
  display: none;
}

/* MEDIA QUERIES */
/* 375px and more */
@media (min-width: 375px) {
  *,
  .newsletter__subtitle {
    font-size: 1rem;
  }
  .newsletter__title {
    font-size: 2.25rem;
  }
  .newsletter__form-label,
  .newsletter__form-input,
  .newsletter__form-button {
    font-size: 0.85rem;
  }
  .newsletter,
  .success-container {
    max-width: 375px;
    margin: 0 auto;
  }
  .success-container {
    margin: 0 1.5rem;
  }
  .success-title {
    font-size: 2.25rem;
  }
  .success-subtitle {
    font-size: 1rem;
  }
}

/* 1024px and more */
@media (min-width: 1024px) {
  *,
  .newsletter__subtitle {
    font-size: 0.95rem;
  }
  .newsletter__title {
    font-size: 3.35rem;
  }
  .newsletter__form-label,
  .newsletter__form-input,
  .newsletter__form-button {
    font-size: 0.7rem;
  }
  body {
    background-color: var(--charcoal-grey);
  }
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
    max-width: 768px;
    margin: 0 auto;
    background-color: var(--white);
  }
  .success-container {
    background-color: var(--white);
  }
  .newsletter__image {
    content: url("./assets/images/illustration-sign-up-desktop.svg");
  }
  .newsletter__image-container {
    order: 2;
  }
  .newsletter__content {
    width: 50%;
    order: 1;
    margin: 0 3.25rem;
  }
  .newsletter__image-container {
    margin: 1rem;
  }
  .success-container {
    min-height: 0;
    margin: 0;
    padding: 2.25rem;
  }
  .success-content {
    margin-top: 0;
  }
  .success-button {
    margin-bottom: 0;
    margin-top: 2.25rem;
  }
}
